<?xml version="1.0"?>
<launch>

   <arg name="rviz_file" default="$(find control)/cfg/rviz_cfg/control_computer.rviz"/>
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_file)"/>

   <!-- Dynamic reonfigure -->
   <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />
   <node pkg="control" type="coverage_selection.py" name="coverage_selection"/>

   <!-- Lidar guidance. Normal setting: -->
   <!-- <node pkg="control" type="mallard_robot_goal_selector.py" name="goal_selector" output="screen"/> -->
   <!-- VICON guidance. Test how much Lidar error impacts controller:  -->
   <node pkg="control" type="mallard_robot_goal_selector_VICON.py" name="goal_selector" output="screen"/>
   
   <!-- NODES for using VICONas guidence instead of Lidar -->
   <node pkg="control" type="vicon_pose_generator.py" name="vicon_pose" output="screen" />

    <!-- Playstation controller -->
   <node pkg="joy" type="joy_node" name="joy_ps4">
      <param name="joy_node/dev" value="/dev/input/js" />
      <param name="coalesce_interval" type="double" value="0.1" />
   </node>
   <!-- <node pkg="control" type="teleop_joy.py" name="teleop_joy" /> -->

   <!-- VICON  -->
  <!-- make sure that IP and port reflects the one set in vicon/system IP:port.Eth:192.168.0.174:801 -->
  <node pkg="vicon_bridge" type="vicon_bridge" name="vicon">
		<param name="stream_mode" value="ClientPull" type="str" />
		<param name="datastream_hostport" value="192.168.1.100:801" type="str" />
		<param name="tf_ref_frame_id" value="/world" type="str" />
  </node> 
      
</launch>